{
    "env": {
        "browser": true,
        "react-native/react-native": true,
        "es2021": true
    },
    "extends": [
        "eslint:recommended",
        "plugin:react/recommended",
        "plugin:@typescript-eslint/recommended"
    ],
    "parser": "@typescript-eslint/parser",
    "parserOptions": {
        "ecmaFeatures": {
            "jsx": true
        },
        "ecmaVersion": 12,
        "sourceType": "module"
    },
    "plugins": [
        "react",
        "react-native",
        "@typescript-eslint"
    ],
    "rules": {
		"array-bracket-spacing": ["error", "never"],
		"array-callback-return": "error",
		"arrow-spacing": ["error", { "before": true, "after": true }],
		"block-spacing": "error",
		"brace-style": "error",
		"comma-dangle": ["error", "never"],
		"curly": "error",
		"default-case": "warn",
		"eqeqeq": ["error", "always"],
		"func-call-spacing": ["error", "never"],
		"guard-for-in": "warn",
		"import/exports-last": "error",
		"import/no-unassigned-import": "off",
		"jsx-quotes": ["off", "prefer-double"],
		"key-spacing": ["error", { "beforeColon": false, "afterColon": true }],
		"max-len": ["warn", 150, 2, {
			"ignoreUrls": true,
			"ignoreComments": false,
			"ignoreRegExpLiterals": true,
			"ignoreStrings": true,
			"ignoreTemplateLiterals": true
		}],
		"max-params": ["warn", 4],
		"new-cap": ["error", {
			"newIsCap": true,
			"newIsCapExceptions": [],
			"capIsNew": false,
			"capIsNewExceptions": ["Immutable.Map", "Immutable.Set", "Immutable.List"],
		}],
		"new-parens": "error",
		"no-caller": "error",
		"no-compare-neg-zero": "error",
		"no-console": "warn",
		"no-debugger": "error",
		"no-dupe-args": "error",
		"no-dupe-keys": "error",
		"no-empty": "error",
		"no-empty-function": "error",
		"no-eval": "error",
		"no-extra-bind": "error",
		"no-extra-parens": ["error", "all"],
		"no-floating-decimal": "error",
		"no-func-assign": "error",
		"no-irregular-whitespace": "warn",
		"no-lone-blocks": "error",
		"no-mixed-spaces-and-tabs": "error",
		"no-multi-spaces": "error",
		"no-multiple-empty-lines": ["error", { "max": 2, "maxBOF": 1, "maxEOF": 0 }],
		"no-nested-ternary": "error",
		"no-new": "warn",
		"no-prototype-builtins": "off",
		"no-return-assign": "error",
		"no-self-compare": "error",
		"no-shadow": "error",
		"no-shadow-restricted-names": "error",
		"no-trailing-spaces": ["error", {
			"skipBlankLines": true,
			"ignoreComments": true
		}],
		"no-useless-call": "error",
        "no-undef-init": "error",
		"no-undef":"off",
		"no-unneeded-ternary": "error",
		"no-unreachable": "error",
		"no-unused-vars": ["error", { "vars": "all", "args": "after-used", "ignoreRestSiblings": true }],
		"no-use-before-define": "off",
		"no-useless-computed-key": "error",
		"no-useless-constructor": "error",
		"no-var": "warn",
		"object-curly-spacing": ["warn", "always"],
		"quotes": ["warn", "single", { "avoidEscape": true , "allowTemplateLiterals": true }],
		"semi": ["warn", "never", { "omitLastInOneLineBlock": true}],
		"react/prop-types": "off",
		"react/display-name": "off"
	}
}
